@model TpFinalLabo_.Models.Pedido

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Nuevo Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Crear" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" type="date" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Idcliente" class="control-label"></label>
                <select asp-for="Idcliente" class="form-control" asp-items="ViewBag.Idcliente"></select>
            </div>

            <div class="form-group">
                <label asp-for="Idproducto" class="control-label"></label>
                <select asp-for="Idproducto" class="form-control" asp-items="ViewBag.Idproducto"></select>
            </div>

            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" type="number" min="1" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Localidad" class="control-label"></label>
                <input asp-for="Localidad" class="form-control" />
                <span asp-validation-for="Localidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Provincia" class="control-label"></label>
                <input asp-for="Provincia" class="form-control" />
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Altura" class="control-label"></label>
                <input asp-for="Altura" class="form-control" type="number" min="0" />
                <span asp-validation-for="Altura" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Lista">Volver </a>
</div>
